<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="RetrofitUIdesign">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/icon8"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIDesign"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.example.RetrofitUIdesign.Firebase"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.ResetPassword"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.ForgetPassword"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.OTPActivity"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.SignIn"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.SignUp"
            android:exported="false" />
        <activity
            android:name="com.example.RetrofitUIdesign.Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>